body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "DotGothic";
  src: local("DotGothic"),
  url("./fonts/DotGothic16.ttf") format("truetype");
}

/* Animations */
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 2;
  }
}

@-moz-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 2;
  }
}

@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 2;
  }
}

@-o-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 2;
  }
}

@-ms-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 2;
  }
}

@keyframes FadeOut {
  0% {
    opacity: 2;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes FadeOut {
  0% {
    opacity: 2;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes FadeOut {
  0% {
    opacity: 2;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes FadeOut {
  0% {
    opacity: 2;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes FadeOut {
  0% {
    opacity: 2;
  }
  100% {
    opacity: 0;
  }
}

@keyframes SlideIn {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}

@-moz-keyframes SlideIn {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}

@-webkit-keyframes SlideIn {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}

@-o-keyframes SlideIn {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}

@-ms-keyframes SlideIn {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}

@keyframes SlideOut {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: 100%;
  }
}

@-moz-keyframes SlideOut {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: 100%;
  }
}

@-webkit-keyframes SlideOut {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: 100%;
  }
}

@-o-keyframes SlideOut {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: 100%;
  }
}

@-ms-keyframes SlideOut {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: 100%;
  }
}